<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diceware Passphrase Generator</title>
  <link rel="stylesheet" href="assets/bulma-0.7.2.min.css">
  <style>
    [v-cloak] {
      display: none;
    }

    @media screen and (min-width: 1068px) {
      .container {
        max-width: 600px;
        width: 600px;
      }
    }
  </style>
</head>
<body>

  <section id="app" class="section">

    <div class="container">

      <h1 class="title">Diceware Passphrase Generator</h1>

      <div class="field">
        <label class="label is-uppercase">Number of Words</label>
        <div class="control">
          <input class="input" type="text" v-model="numWords" placeholder="The number of words in the passphrase">
        </div>
      </div>

      <div class="field">
        <label class="label is-uppercase">Delimiter</label>
        <div class="control">
          <input class="input" type="text" v-model="delimiter" placeholder="Text to separate the words">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button @click="generatePassphrase" class="button is-primary is-medium is-fullwidth">Generate</button>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <textarea v-model="passphrase" id="generated-passphrase" class="textarea is-large has-text-centered" type="text" style="font-family: monospace" readonly></textarea>
        </div>
      </div>

      <div class="field is-clearfix">
        <div class="control">
          <a class="button is-large is-pulled-right is-light" id="clipboard-button" data-clipboard-target="#generated-passphrase" title="Copy to clipboard">
            <img src="assets/clippy.svg" height="36" width="36">
          </a>
        </div>
      </div>

    </div>

  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Built by <a href="https://dan.hersam.com">Dan Hersam</a> | <a href="https://github.com/jaden/diceware">Source on GitHub</a>
        </p>
      </div>
    </div>
  </footer>

  <script src="assets/vue-2.5.22.min.js"></script>
  <script src="assets/clipboard-2.0.4.min.js"></script>
  <script src="wordlist.js"></script>
  <script src="app.js"></script>

</body>
</html>